<%= form_for :session, url: session_path do |form| %>
  <div class="full-width-form-group">
    <label for="email" class="main-label">email</label>
    <br />
    <%= form.text_field :email,
                        type: 'email',
                        class: 'main-input w-100',
                        placeholder: 'email@address.com' %>
  </div>

  <div class="full-width-form-group">
    <label for="session_password" class="main-label">password</label>
    <br />
    <%= form.password_field :password,
                            class: 'main-input w-100',
                            placeholder: '••••••••••••••••' %>
  </div>

  <%= form.submit class: 'dark-button mt2' %>
<% end %>
