<%= form_for :session, url: session_path do |form| %>
  <div class="input-field">
    <label for="email" class="light-color">email</label>
    <%= form.text_field :email, type: 'email', class: 'validate light-color' %>
  </div>

  <div class="input-field">
    <label for="session_password" class="light-color">password</label>
    <%= form.password_field :password, class: 'validate light-color' %>
  </div>

  <%= form.submit class: 'btn btn-light black-text pointer' %>
<% end %>
