<div class="dark-card-container mw7 center">
  <div class="dark-card-body pb3">
    <%= link_to 'profile', edit_settings_profile_path, class: 'dark-button' %>
    <%= link_to 'account', edit_settings_account_path, class: 'ml2 dark-button' %>
    <%= link_to 'password', edit_settings_password_path, class: 'ml2 dark-button' %>
  </div>
</div>
