<div class="container mx-auto m-t-c p-4">
  <form class="flex justify-between items-center flex-wrap bg-grey-lighter p-4">
    <div class="flex-grow mr-4">
      <input class="appearance-none block w-full bg-white text-grey-darker border border-grey-darker py-3 px-4" id="grid-last-name" type="text" placeholder="Find an investment...">
    </div>
    <div class="flex-none">
      <button class="bg-grey-dark hover:bg-grey-darker text-white py-3 px-4" type="button">
        SEARCH
      </button>
    </div>
  </form>


  <% 10.times do %>
    <%= render 'invests/shared/invest_list' %>
  <% end %>
</div>

