<form class="flex justify-between items-center flex-wrap bg-grey-lighter p-4">
  <div class="flex-grow mr-4">
    <input class="w-full-input" id="grid-last-name" type="text" placeholder="Find an investment...">
  </div>
  <div class="flex-none">
    <button class="btn-default" type="button">
      <%= t("forms.search") %>
    </button>
  </div>
</form>


<% @invests.try(:each) do |invest| %>
  <%= render 'invests/shared/invest_list', invest: invest %>
<% end %>

<div class="text-center m-6">
  <%= paginate @invests %>
</div>
