<% @invests.try(:each) do |invest| %>
  <%= link_to invest, class: 'no-color-link no-underline' do %>
    <%= render 'invests/shared/invest_list', invest: invest %>
  <% end %>
<% end %>

<div class="center">
  <%= paginate @invests %>
</div>
