<% @invests.try(:each) do |invest| %>
  <%= link_to invest, class: 'black hover-black no-underline' do %>
    <%= render 'invests/shared/invest_list', invest: invest %>
  <% end %>
<% end %>

<div>
  <%= paginate @invests %>
</div>
