<div class="flex justify-between items-stretch flex-wrap bg-grey-lighter p-4 mt-4">
  <div class="w-3/4 pr-4">
    <h3 class="w-full border-b-2 mb-2">Title of Invest</h3>
    <p>Description of Invest.Description of Invest.Description of Invest.Description of Invest.Description of Invest.Description of Invest.Description of Invest.Description of Invest.Description of Invest.Description of Invest.Description of Invest.Description of Invest. </p>
  </div>
  <div class="w-1/4 border-l-2 pl-4">
    <p>Stevo</p>
  </div>
</div>
