<div class="w-full-card hover-grow">
  <div class="pr-4">
    <h3 class="w-full border-b-2 border-grey-light mb-2"><%= invest.title %></h3>
    <p><%= truncate invest.body, length: 200, separator: /\w+/ %></p>
  </div>
</div>
