<div class="flex justify-between items-stretch flex-wrap bg-grey-lighter p-4 mt-4">
  <div class="w-3/4 pr-4">
    <h3 class="w-full border-b-2 mb-2"><%= invest.title %></h3>
    <p><%= invest.body %></p>
  </div>
  <div class="w-1/4 border-l-2 pl-4">
    <p><%= invest.user.username %></p>
  </div>
</div>
