<div class="light-card-container">
  <div class="light-card-body">
    <h2 class="light-card-header"><%= invest.title %></h2>
    <p><%= truncate invest.body, length: 200, separator: /\w+/ %></p>
  </div>
  <div class="light-card-footer-small">
    <p class="pa0 ma0 near-white"><%= invest.user.username %></p>
  </div>
</div>