<div class="dark-card-container mw7 center">
  <div class="dark-card-body pb3">
    <h3 class="h-font ma0"><%= team.name %></h3>
    <p class="p-font f5 ma0"><%= truncate team.description, length: 200, separator: /\w+/ %></p>
  </div>
</div>
