<div class="card">
  <div class="card-stacked">
    <div class="card-content">
      <div class="row no-margin">
        <div class="col s6">
          <h6 class="no-margin">You have been invited to join the team: <%= invite.team.name %></h6>
        </div>
        <div class="col s6 tr">
          <%= link_to 'dismiss', team_invite_path(invite.team, invite, status: 'rejected'),
                      method: :put, class: 'waves-effect waves-light btn btn-dark mr4' %>
          <%= link_to 'accept', team_invite_path(invite.team, invite, status: 'accepted'),
                      method: :put, class: 'waves-effect waves-light btn btn-dark' %>
        </div>
      </div>
    </div>
  </div>
</div>
