<div class="w-full-card">
  <div class="w-3/4 pr-4">
    <h3 class="w-full border-b-2 border-grey-light mb-2">You have been invited to join the team: <%= invite.team.name %></h3>
  </div>
  <div class="w-1/4 border-l-2 border-grey-light pl-4">
    <%= link_to 'dismiss', team_invite_path(invite.team, invite, status: 'rejected'),
                method: :put %>
    <%= link_to 'accept', team_invite_path(invite.team, invite, status: 'accepted'),
                method: :put %>
  </div>
</div>
