<div class="dark-card-container mw7 center">
  <div class="dark-card-body pb3 overflow-auto">
    <h4 class="ma0 h-font w-50 fl"><%= notification.invest.title %> has been updated.</h4>
    <div class="fr w-40 tr">
      <%= link_to 'dismiss', activities_notification_path(notification, status: 'dismissed'),
                  method: :put, class: 'dark-button' %>
      <%= link_to 'view', activities_notification_path(notification, {status: 'dismissed', view: 'true'}),
                  method: :put, class: 'dark-button' %>
    </div>
  </div>
</div>
