<div class="fl w-100 w-third-ns pa3 pr4 mt0-ns mt4-m mt4-l">
<%= render 'shared/sidebar_dash', user: @user %>
</div>
<div class="fl w-100 w-two-thirds-ns pa3">
  <h3 class="bb r-font mb3 mt0 ttu"><%= t('profile.all_invests') %></h3>
  <% @user.invests[0...3].try(:each) do |invest| %>
    <%= link_to invest, class: 'black hover-black no-underline' do %>
      <%= render 'invests/shared/invest_small', invest: invest %>
    <% end %>
  <% end %>
</div>
