<div class="fixed z-20 pin-t pin-l pin-r flex justify-between bg-grey-lighter">
  <div class="p-4">
    <a class="text-black-darker lowercase no-underline" href="/"><%= image_tag 'header-logo.svg', class: 'header-logo' %></h4></a>
  </div>
  <div>
    <%= link_to invests_new_path do %>
    <div class="float-left p-2 m-2 bg-grey-light cursor-pointer">
        <i class="fas fa-plus"></i>
    </div>
    <% end %>
    <div class="float-left p-2 m-2 bg-grey-light cursor-pointer" onclick="toggleMenu()">
      <i class="fas fa-bars"></i>
    </div>
  </div>
</div>
