/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */

input, h1, h2, h3, h4, h5, h6, p {
    @apply .font-sans .font-normal;
}

a {
    @apply .font-sans .font-normal;
    color: #22292f;
}

a:hover {
    @apply .font-sans .font-normal;
    color: #3d4852;
}

a:visited {
}

a:active {
    @apply .font-sans .font-normal;
    color: #22292f;
}

.menu {
    @apply .fixed .overflow-hidden .z-10 .pin-r .pin-t .w-64 .h-auto .bg-grey-darkest .text-grey-lightest .p-8 .mt-8;
    transition: all 200ms linear;
}

.menu-hidden {
    @apply .h-0 .pt-0 .pb-0;
}

.w-full-input {
    @apply .appearance-none .block .w-full .bg-white .text-grey-darker .border .border-grey-darker .py-3 .px-4;
}

.btn-default {
    @apply .bg-grey-dark .text-white .py-3 .px-4 .uppercase;
}

.btn-default:hover {
    @apply .bg-grey-darker .cursor-pointer;
}

#flash {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    text-align: center;
}

@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

.m-t-c {
    margin-top: 6rem;
}

.h-0 {
    height: 0;
}