@import "tachyons.min";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "materialize/components/color-variables";

$primary-color: color("blue-grey", "darken-1");
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);

$secondary-color: color("blue-grey", "lighten-3");
$success-color: color("blue-grey", "lighten-4");
$error-color: color("red", "darken-4");
$link-color: color("teal", "darken-4");

@import 'materialize';

body {
  background-color: lighten($secondary-color, 20%);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

main {
  flex: 1 0 auto;
}

p, .no-color-link {
  color: rgb(0,0,0);
}

a {
  text-decoration: underline;
}

input.light-color {
  color: #e4e4e4 !important;;
}

label.light-color {
  color: $success-color;
}

abbr {
  display: none;
}

.textarea-main {
  min-height: 200px;
  border: 0;
  border-bottom: 1px solid grey;
}

.white-text {
  color: #e4e4e4 !important;
}

.btn-dark {
  background-color: $primary-color-dark;
  &:hover {
    background-color: lighten($primary-color-dark, 20%);
  }
}

.flash-item {
  z-index: 5;
  position: fixed;
  width: 400px;
  background-color: $primary-color-dark;
  color: white;
  top: 60px;
  left: 50%;
  margin: 0 0 0 -200px;
  text-align: center;
  padding: 20px;
  font-size: 16px;
}

.card-action a {
  color: #e4e4e4 !important;
}

.head-logo {
  margin: 3px 0 0 20px;
}

.likes-icon {
  font-size: 20px;
}

.likes {
  font-size: 28px;
  margin-left: 5px;
}

.dropdown-content {
  top: -65px;
}

.hover-grow {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.hover-grow:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.error {
  color: black;
  font-size: 14px;
}