<div class="mw7 center">
  <h2 class="dark-card-header">notifications</h2>
</div>
<% if @invitations.pending.blank? && @notifications.pending.blank? %>
  <h3 class="h-font tc">All caught up!</h3>
<% end %>
<% unless @invitations.pending.blank? %>
  <% @invitations.pending.try(:each) do |invite| %>
    <%= render 'activities/shared/invite_list', invite: invite %>
  <% end %>
<% end %>
<% unless @notifications.pending.blank? %>
  <% @notifications.pending.try(:each) do |notification| %>
    <%= render 'activities/shared/notification_list', notification: notification %>
  <% end %>
<% end %>
